.container{
    width: 75% !important;
}

.navbar-brand{
    height: 10%;
    width: 10%;
}

.dropdown-item:hover{
    background-color: #F8F9FA !important;
    color:#000000 !important;
}

.nav-link, #dropdown-basic, .dropdown-item{
    color:#707071 !important;
}

.nav-link:hover, #dropdown-basic:hover , .dropdown-item :hover{
    color:#000000 !important;
}


.dropdown-item, #dropdown-basic{
    font-size: 20px;
}

.hero{
    background-image: url(/src/assets/law.png);
    background: linear-gradient(to bottom, rgba(86, 86, 86, 0.52), rgba(15, 15, 15, 0.73)),
    url('/src/assets/law.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 580px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hero-text{
    margin: 20px;
    color: #ffffff;
}

#overlay-div{
    z-index: 1;
    margin-top:-50px;
}

#col{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    color: #000000;
    background-color: #9f9f9f;
}

.footer-brand{
    height: 70%;
    width: 50%;
}

.socials{
    margin: 5px;
    margin-top: -5px;
    height: 30px;
    width: 30px;
}

.footer-copyright{
    color:#F8F9FA;
    text-align: center;
}

.contact-section{
    background: linear-gradient(to bottom, rgba(86, 86, 86, 0.52), rgba(15, 15, 15, 0.73)),
    url('/src/assets/contact-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}


.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 60% !important;
}

.form-container{
    justify-self: center !important;
    width: 80%;
} 

.btn{
    font-size: inherit !important;
}

.card-title{
    font-weight: 600 !important;
}

.card-container{
    background-color: #c8c8c8 !important;
    border-radius: 10px !important;
    border: none !important;
    margin: 30px !important;
    width: 15.6em !important;
} 

.card-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.office-cont{
    display: flex;
    align-items: center;
}

.office-img1-cont,.office-img2-cont,.office-img3-cont{
    height: 50% !important;
    width: 50% !important;
}

.office-text1-cont,.office-text2-cont,.office-text3-cont{
    width: 50% !important;
    display: flex;
    align-items: center !important;
    border-radius: 10px;
    background-color: #e9ce9c;
    z-index: 9;
}

.office-text1-cont{
    margin-left: -40px !important;
}

.office-text2-cont{
    margin-right: -40px !important;
    margin-top: 60px !important;
}

.office-text3-cont{
    margin-left: -40px !important;
    flex-direction: column;
}

.conduct{
    list-style: square;
}

@media (max-width: 768px) { 

    .nav-item, .nav-link{
        align-self: center;
    }

    #overlay-div{
        width: 70%;
        flex-direction: column;
    }

    .dropdown-item{
        text-align: center !important;
    }

    .contact-form{
        width: 100% !important;
    }

    .form-container{
        justify-self: center !important;
        width: 100%;
    } 

    .last-name{
        margin-top: 15px !important;
    }

    .card-group{
        flex-direction: column !important;
        align-items: center;
    }    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card-group{
        flex-direction: column !important;
        align-items: center;
    }
} 

@media (max-width: 1024px){
    .office-img1-cont,.office-img2-cont,.office-img3-cont{
        width: 100% !important;
        height: 100% !important;
    }

    .office-img2-cont{
        margin-bottom: 50px;
    }

    .office-cont{
        flex-direction: column;
    }

    .office-text1-cont,.office-text2-cont,.office-text3-cont{
        width: 100% !important;
        
    }
    
    .office-text1-cont{
        margin-top: -45px;
        margin-left: -40px !important;
    }
    
    .office-text2-cont{
        margin-right: -40px !important;
        margin-bottom: -23px;
        margin-top: 60px !important;
    }
    
    .office-text3-cont{
        margin-top: -30px;
        margin-left: -40px !important;
        flex-direction: column;
    }
}