.App{
    font-family: 'Perpetua';
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
}



.navbar-brand{
    height: 10%;
    width: 10%;
}

.navbar-toggler{
    border: none;
}

.nav-item{
    text-align: center;
}

.dropdown-item{
    font-size: 20px;
}
.container{
    width: 75% !important;
}

@media (max-width: 768px) { 

    .navbar-collapse.active{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-item{
        align-self: center;
    }

}